@model IEnumerable<my_expenses.Models.Category>

@{
   ViewData["PageTitle"] = "Categories";
   ViewData["PageActionText"] = "+ New Category";
   ViewData["PageActionUrl"] = "/Category/AddOrEdit";
}

<div class="row" >
    <div class="col-md-11">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None"
         allowSorting="true" allowPaging="true" >
          <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#ItemColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-1">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
 ${if(Type=="Income")}
   <span class="badge bg-success"> ${Type}</span>
 ${else}
   <span class="badge bg-danger"> ${Type}</span>
   ${/if}
</script>


<script id="ItemColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg" ></i>
        </a>
        <form action = "/Category/Delete/${CategoryId}" method = "post">
        @Html.AntiForgeryToken()
        <button class="btn btn-sm btn-link no-a-decoration" type="submit"
         onclick="return confirm(&quot;Are You Sure To Delete This Category?&quot)">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </button>
        </form>
    </div>
</script>
