@model IEnumerable<my_expenses.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
   ViewData["PageActionext"] = "+ New Transaction";
   ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}



<div class="row" >
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None"
         allowSorting="true" allowPaging="true" >
          <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="150px"
                 type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="150px" textAlign="Right"></e-grid-column>
                <e-grid-column headerText="Actions" template="#ItemColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<script id="ItemColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg" ></i>
        </a>
        <form action = "/Transaction/Delete/${TransactionId}" method = "post">
        @Html.AntiForgeryToken()
        <button class="btn btn-sm btn-link no-a-decoration" type="submit"
         onclick="return confirm(&quot;Are You Sure To Delete This Transaction?&quot)">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </button>
        </form>
    </div>
</script>
